.form-wrapper {
  padding-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  overflow-x: hidden;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.close-button::before,
.close-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px; /* Thickness of the 'X' lines */
  background-color: #333; /* Color of the 'X' */
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

.close-button:hover::before,
.close-button:hover::after {
  background-color: rgb(252, 252, 252); /* Hover color */
}
